[email]
from_email = PLACEHOLDER_FROM_EMAIL
from_email_password = PLACEHOLDER_PASSWORD
to_email = PLACEHOLDER_TO_EMAIL

[query_params]
target_sites = PLACEHOLDER_SITES
query_text = PLACEHOLDER_QUERY
location = PLACEHOLDER_LOCATION

